{% extends 'base.html' %}

{% block head %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
{% endblock %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Goal</h4>
	<p class="text-center">Get started with your first goal now!</p>
	<div>
		<form method="POST">

			<!--Gender-->
			<p>Select gender:    </p>
			<div class="form-group input-group">
			{{ render_field(form.gender, class="form-control", placeholder="Gender") }}
			</div> <!-- form-group// -->

			<!--Height-->
			<p>Select height:    </p>
			<div class="form-group input-group">
			{{ render_field(form.height_ft, class="form-control", placeholder="ft") }}
			{{ render_field(form.height_in, class="form-control", placeholder="ft") }}
			</div> <!-- form-group// -->

			<!--Starting Weight-->
			<p>Enter starting weight:    </p>
			<div class="form-group input-group">
			{{ render_field(form.starting_weight, class="form-control") }}
			</div> <!-- form-group// -->

			<!--Goal Weight-->
			<p>Enter goal weight:    </p>
			<div class="form-group input-group">
			{{ render_field(form.goal_weight, class="form-control") }}
			</div> <!-- form-group// -->

			<!--Activity Level-->
			<p>Select activity level:    </p>
			<div class="form-group input-group">
			{{ render_field(form.activity_level, class="form-control") }}
			</div> <!-- form-group// -->

			<!--Weight Loss per Week-->
			<p>Select desired weekly weight loss:    </p>
			<div class="form-group input-group">
			{{ render_field(form.weekly_target, class="form-control") }}
			</div> <!-- form-group// -->

			<button type="submit" class="btn btn-primary">Register</button>

			<p class="text-center">Have an account? <a href="/login/">Log In</a> </p>
		</form>

	</div>
	</article>
</div> <!-- card.// -->


{% endblock %}